/* Basic reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  padding-top: 20px;
  transition: background-color 0.3s, color 0.3s, background-image 0.5s ease-in-out;
}

.App {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.app-main-title {
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.toggle-theme {
  background-color: #0cf3e1;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  position: fixed;
  top: 20px;
  right: 20px;
  font-weight: bold;
  color: #201a31;
  z-index: 1050;
}

.toggle-theme:focus {
  outline: none;
}

input[type='text'],
input[type='password'],
textarea {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  background-color: #201a31;
  color: #d7d6db;
  border: 1px solid #6a6675;
  border-radius: 0.25rem;
}

input[type='text']::placeholder,
input[type='password']::placeholder {
  color: #6a6675;
}

input[type='submit'] {
  background-color: #0cf3e1;
  color: #201a31;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

input[type='submit']:hover {
  background-color: #09b9ab;
}

.user-bar {
  padding: 1rem;
  text-align: center;
}

.login-container,
.register-container {
  display: inline-block;
  margin: 1rem auto;
  padding: 1rem;
  background: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.card {
  margin-bottom: 1rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.card-body {
  padding: 1.25rem;
  background-color: #201a31;
  color: #e0dfe1;
  transition: background-color 0.3s;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-text {
  color: #e0dfe1;
}

.btn-danger {
  margin-top: 1rem;
  background-color: #dc3545;
  color: white;
}

.btn-danger:hover {
  background-color: #c82333;
}

/* Background images */
body.dark-content {
  background-image: url('./dark_mode_background.jpg');
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: background-image 0.5s ease-in-out;
}

body.white-content {
  background-image: url('./light_mode_background.jpeg');
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: background-image 0.5s ease-in-out;
}

.dark-content input::placeholder,
.white-content input::placeholder {
  color: #6a6675;
}

button,
input[type='submit'] {
  background-color: #0cf3e1;
  border: none;
  color: #201a31;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover,
input[type='submit']:hover {
  background-color: #09b9ab;
}

@media (max-width: 576px) {
  .login-container,
  .register-container {
    width: 90%;
  }
}

.dark-content,
.white-content {
  transition: background-color 0.3s, color 0.3s;
}

.dark-content .card,
.white-content .card {
  transition: background-color 0.3s, box-shadow 0.3s;
}

.dark-content .card,
.dark-content .btn-danger {
  background-color: #201a31;
  color: #e0dfe1;
}

.white-content .card,
.white-content .btn-danger {
  background-color: #ffffff;
  color: #5a534f;
}

.white-content body {
  background-color: #f3e8ff;
  color: #432c51;
}

.white-content .toggle-theme {
  background-color: #c084fc;
  color: #fff;
}

.white-content input[type='text'],
.white-content input[type='password'],
.white-content textarea {
  background-color: #f3e8ff;
  color: #432c51;
  border: 1px solid #b58db6;
}

.white-content input[type='submit'] {
  background-color: #c084fc;
  color: #fff;
}

.white-content input[type='submit']:hover {
  background-color: #a267ac;
}

.white-content .card {
  background-color: #f8f0ff;
  color: #432c51;
}

.white-content .btn-danger {
  background-color: #ff77e9;
  color: #fff;
}

.white-content .btn-danger:hover {
  background-color: #f558d3;
}

.white-content .card-body {
  padding: 1.25rem;
  background-color: #ede1f2;
  color: #432c51;
}

.white-content .card-text {
  color: #6a4f77;
}

:root {
  --bs-dark-background: #282c34;
  --bs-secondary-color-dark: #b0b0b0;
  --bs-heading-color-dark: #ffffff;
}

.dark-content .text-muted {
  color: var(--bs-secondary-color-dark) !important;
}

.dark-content h1,
.dark-content .app-main-title,
.dark-content .card-title,
.dark-content .card-text {
  color: var(--bs-heading-color-dark) !important;
}
